@model List<SalesTransactionVM>
@{
    int i = 0;
    double total = 0;
}

<div style="height:20px; width:100%; clear:both;"></div>


<div class="container">
    <div class="row justify-content-between">
        <div class="col">
            Costumer Name : @ViewBag.CustomerName <br />
            Address : @ViewBag.CustomerAddress
        </div>
        <div class="col" >
            <p style="width:100%; text-align:right">
                BillNumber : 1334
            </p>
           
        </div>
    </div>
</div>

<div style="height:30px; width:100%; clear:both;"></div>

<table class="table table-hover m-t-20">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            i++;
            total += item.Price * item.Quantity;
            <tr>
                <th scope="row" >@i</th>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@(item.Price * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td colspan="4">
                Total :
            </td>
            <td>
                @total
            </td>
        </tr>
    </tbody>
</table>