@model List<SalesTransactionVM>
@{
    int i = 0;
}
@if (Model.Count > 0)
{
    <form asp-action="Bill" method="post">
        <input hidden name="invoice.CustomerId" value="@ViewBag.CustomerId">
        <table class="table table-hover m-t-20">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            <div class="form-check form-switch">
                                <input name="invoice.SalesIds" type="checkbox" value="@item.Id">
                            </div>
                        </td>
                        <th scope="row" onclick="viewDetail(@item.Id)">@i</th>
                        <td onclick="viewDetail(@item.Id)">@item.CustomerName</td>
                        <td onclick="viewDetail(@item.Id)">@item.ProductName</td>
                        <td onclick="viewDetail(@item.Id)">@item.Quantity</td>
                        <td onclick="viewDetail(@item.Id)">@item.Price</td>
                        <td onclick="viewDetail(@item.Id)">@(item.Price * item.Quantity)</td>

                        <td scope="row">
                            <button style="width: 90px;" type="button" class="btn btn-primary" id="edit-btn"
                        onclick="Update(@item.Id.ToString())">
                                Edit
                            </button>
                            <button style="width: 90px;" type="button" class="btn btn-danger"
                        onclick="Delete(@item.Id.ToString())" data-toggle="modal" data-target="#DeleteModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="7">

                    </td>
                    <td>
                        <button style="width: 100%;" type="submit" class="btn btn-success">
                            Generate Invoice
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
}
else
{
    <p>Add sales transaction for this user first</p>
}
